.cart-Items {
    margin: 100px 170px;
}

.cart-Items hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cart-item-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cart-item-format {
    font-size: 17px;
    font-weight: 600;
}

.cart-icon-product-icon {
    height: 62px;
}

.remove-icon {
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cart-item-quantity {
    width: 64px;
    height: 25px;
    border: 2px solid #ebebeb;
    background: #fff;
    text-align: center;
    margin: auto;
    align-items: center;
}

.cart-item-quantity button {
    padding: 3px 5px;
    border: none;
    outline: none;
    margin: 0px 4px;
    cursor: pointer;
    background: none;
    font-size: 12px;
}

.cart-item-down {
    display: flex;
    margin: 100px 0px;
}

.cart-item-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cart-item-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cart-item-total button {
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cart-item-promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cart-item-promocode p {
    color: #555;
}

.cart-item-promobox {
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
}

.cart-item-promobox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}

.cart-item-promobox button {
    width: 153px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}